<?xml version="1.0" encoding="utf-8" ?>
<nlog
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target
      xsi:type="File"
      name="allFile"
      fileName ="C:\Users\T450\Desktop\C#_projects\Restaurant\RestaurantLogs\nlog-all-${shortdate}.log"
      layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />

    <target
     xsi:type="File"
     name="exceptions"
     fileName ="C:\Users\T450\Desktop\C#_projects\Restaurant\RestaurantLogs\nlog-exception-${shortdate}.log"
     layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />

    <target
     xsi:type="File"
     name="timeout"
     fileName ="C:\Users\T450\Desktop\C#_projects\Restaurant\RestaurantLogs\nlog-timeout-${shortdate}.log"
     layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
    
  </targets>
  
  
  <rules>
    <logger name="*" minlevel="Trace" writeTo="allFile" />
    <logger name="Restaurant.*" minlevel="Error" writeTo="exceptions" />
    <logger name="Restaurant.MiddleWare.TimeMiddleware.*" minlevel="Trace" writeTo="timeout" />

  </rules>
</nlog>